@import "../../scss/_palette.scss";

.wrapper{
  &:hover{
    cursor: pointer;
    background-color: #00000010;
    transition: ease 0.2s;
  }
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid $textSecondary;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  &>img{
    width: 40%;
    min-width: 250px;
    height: 220px;
    object-fit: cover;
    margin-right: 15px;
    -webkit-user-drag: none;
    user-select: none;
  }
}
.textWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.title{
  color: $accentMain;
  font-family: Montserrat, serif;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.description{
  font-size: 17px;
  color: $textPrimary;
  overflow: hidden;
  text-align: justify;
  padding-bottom: 1px;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 60px;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.infoBar{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  & .createdBy{
    font-size: 14px;
    color: $textSecondary;
    text-align: right;
  }
  & .right{
    display: flex;
    flex-direction: row;
    min-width: 250px;
  }
}
.timeIcon{
  width: 28px;
  height: 28px;
  margin-right: 10px;
  -webkit-user-drag: none;
  user-select: none;
}
.duration{
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 18px;
}
.tags{
  font-size: 17px;
  margin-top: 3px;
  &:last-child{
    margin-bottom: 20px;
  }
}
