@import "../../scss/_palette.scss";

.link{
  font-size: 26px;
  color: $textPrimary;
  text-decoration: none;
  margin-right: 12px;
  padding: 10px 20px 8px;
  cursor: pointer;
  &:hover{
    background-color: $background-light;
  }
  user-select: none;
}

.active{
  @extend .link;
  color: $accentDark;
  padding: 10px 20px 5px;
  border-width: 0 0 3px 0;
  border-color: $accentDark;
  border-style: inset;
  box-sizing: border-box;
  cursor: default;
  &:hover{
    background-color: $backggroundTranslucent;
  }
}
