$accentDark: #D58E0F;
$accentMain: #E69F1E;
$accentLight: #f6c35d;
$background-light: #fffcf7;
$background: #fde9bb;
$backggroundTranslucent: #FFFFFFCC;
$textSecondary: #707070;
$textPrimary: #232323;
